<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 路径 -->
    <property name="LOG_PATH" value="logs"/>
    <property name="FILE_NAME" value="mybatis-generator-gui"/>
    <!-- 输出格式 -->
    <property name="CONSOLE_PATTERN" value="[%-12d{HH:mm:ss.SSS}][%-5level][%-25thread][%-50class{50} :%-3L] %msg%n"/>
    <property name="FILE_PATTERN" value="[%-12d{HH:mm:ss.SSS}][%-5level][%-25thread][%-50class{50} :%-3L] %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/history/${FILE_NAME}.%d{yyyyMMdd}.log.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>